$font-family-body: "Frutiger Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-color-body: #282828;
$background-color: #FAFCEF;
$bp-1: 1200px;
$bp-2: 640px;
$bp-3: 320px;

@import 'normalize';
@import 'typographic_variables';
@import 'mixins';
@import 'animate';

@include declare-font-face('Frutiger Light', 'FrutigerLTStd-Light', 200);
@include declare-font-face('Frutiger', 'FrutigerLTStd-Roman');
@include declare-font-face('Scala', 'Scala');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-body;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: $background-color;
  color: $font-color-body;
  margin: 0;
}

h1, h2, h3, h4, p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: $font-family-heading;
}

h1, .h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-top: 0;
  margin-bottom: $h1-margin-bottom;
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-top: $h2-margin-top;
  margin-bottom: $h2-margin-bottom;
}

h3, .h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin-top: $h3-margin-top;
  margin-bottom: $h3-margin-bottom;
}

h4, .h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  margin-top: $h4-margin-top;
  margin-bottom: $h4-margin-bottom;
}

p, ul, ol, pre, table, blockquote {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}

a, a:visited {
  color: $font-color-body;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.contact {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #5B5552;
  width: 100%;
  color: $background-color;
  height: 2.618rem;
  line-height: 2.818rem;
  text-align: center;
  cursor: pointer;

  @media (min-width: $bp-1) {
    width: 50%;
  }
}

.bio, .publications, .properties {
  padding: 0 2.618rem;
  margin: 0 auto;
  max-width: $bp-2;

  @media (min-width: $bp-1) {
    padding: 0 6.854rem;
    margin: 0;
  }
}

.bio {
  width: 100%;

  @media (min-width: $bp-1) {
    width: 50%;
    max-width: none;
  }
}
.photo {
  width: 100%;
  background-image: url('../images/aaron.jpg');
  background-size: cover;
  background-position: center;
  position: static;
  min-height: 320px;
  margin: 2.618rem 0;

  @media (min-width: $bp-2) {
    min-height: 600px;
  }

  @media (min-width: $bp-1) {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    height: auto;
    margin: 0;
  }
}

.publications {
  .publication {
    h4 {
      margin-bottom: 0.5rem;
    }
    p {
      margin-top: 0;
    }
  }
}

.properties {
  margin-bottom: $h2-margin-top + 2.618rem; // 2.618rem accounts for the contact bar height

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      font-family: $font-family-heading;
      font-size: $h4-font-size;
      margin-bottom: 0.5rem;
    }
  }
}

// Animate timing
.bio h2 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.bio article, .photo, .publications, .profiles {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.contact {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.browsehappy {
  background: #B2002D;
  color: #FFFFFF;
  padding: 1em;
  text-align: center;
  a {
    color: #FFFFFF;
  }
}

