// Typography

@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('/fonts/#{$font-filename}.eot');
    src: url('/fonts/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
         url('/fonts/#{$font-filename}.woff') format('woff'),
         url('/fonts/#{$font-filename}.ttf') format('truetype'),
         url('/fonts/#{$font-filename}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}

@include declare-font-face('Frutiger Light', 'FrutigerLTStd-Light', 200);
@include declare-font-face('Frutiger', 'FrutigerLTStd-Roman');
@include declare-font-face('Scala', 'Scala');

// Animations

@mixin animation-name($name) {
  -o-animation-name: $name;
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
  animation-name: $name;
}

@mixin animation-delay($delay) {
  -o-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin animation-duration($duration) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animation-fill-mode($fill-mode) {
  -o-animation-fill-mode: $fill-mode;
  -moz-animation-fill-mode: $fill-mode;
  -webkit-animation-fill-mode: $fill-mode;
  animation-fill-mode: $fill-mode;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    Opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

// Global

$selection: yellow;

::selection {
  background: $selection;
}

::-moz-selection {
  background: $selection;
}

body {
    background: #FAFCEF;
    font-family: "Frutiger Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    margin: 0;
}

// Page styles

.container {
  max-width: 1000px;
  margin: 50px auto;
}

.browsehappy {
  background: #B2002D;
  color: #FFFFFF;
  padding: 1em;
  text-align: center;
  a {
    color: #FFFFFF;
  }
}

h1, h2, p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header {
  @include animation-name(fadeInDown);
  @include animation-delay(1s);
  @include animation-duration(.75s);
  @include animation-fill-mode(both);
}

article {
  @include animation-name(fadeIn);
  @include animation-duration(.75s);
  @include animation-delay(1.5s);
  @include animation-fill-mode(both);
}

h1 {
  font-family: 'Scala';
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Frutiger';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 30px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

